{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap Core CSS-->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'app/css/blog-home.css' %}" rel="stylesheet">
    <style type="text/css">
       * {
           padding: 0px;
           margin: 0px;
       }
    </style>
    {% block style %}{% endblock style %}
</head>
<body>
    <!-- Page Content -->
    {% block content %}{% endblock content %}

    {% block footer %}{% endblock footer %}

    <!-- jQuery -->
    <script src="{% static 'app/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
</body>
</html>